doctype html
html
    head
        title form
        style
           include ../css/style.css
           include ../css/bootstrap.min.css

    body
        div(class="container" id="moveme")
            div(class="row")
                div(class="Absolute-Center is-Responsive span6 mx-auto")
                    h1 Bonjour #{name}
                    form(action="/todos" method ="POST")
                        div(class="form-group separate")
                        label(for="Message User Input") Message
                        input(name="message" class="form-control")
                        div(class="form-check separate")
                            input(class="form-check-input" type="radio" name="completion" id="CheckTODO" value="TODO")
                            label(class="form-check-label" for="exampleRadios1") TODO
                        div(class="form-check ")
                            input(class="form-check-input" type="radio" name="completion" id="CheckDONE" value="DONE")
                            label(class="form-check-label" for="exampleRadios1") DONE
                        div(class="separate")
                        <button type="submit" class="btn btn-primary">Poster</button>